{% extends "base.html" %}
{% block content %}

<h1>Список преподавателей</h1>

<table>
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Специализация</th>
        <th>Email</th>
        <th>Действия</th>
    </tr>
    {% for teacher in teachers %}
    <tr>
        <td>{{ teacher.teacher_firstname }}</td>
        <td>{{ teacher.teacher_lastname }}</td>
        <td>{{ teacher.teacher_specialization }}</td>
        <td>{{ teacher.teacher_email }}</td>
        <td>
            <form action="{{ url_for('delete_teacher', teacher_id=teacher.teacher_id) }}" method="post">
                <button type="submit">Удалить</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
